.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}

.close {
  float: right;
  cursor: pointer;
}

#additionalFields {
  display: none;
  margin-top: 20px;
}

button {
  margin-top: 20px;
}